<html>
<head>
<title>Scrum 3D Park</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon" />

        <!-- Plugins css-->
        <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
        <link href="/assets/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet" />
        <link href="/assets/plugins/clockpicker/jquery-clockpicker.min.css" rel="stylesheet" />
        <link href="/assets/plugins/toggles/toggles.css" rel="stylesheet" />
        <link href="/assets/plugins/timepicker/tempusdominus-bootstrap-4.css" rel="stylesheet" />
        <link href="/assets/plugins/timepicker/bootstrap-material-datetimepicker.css" rel="stylesheet">
        <link href="/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
        <link href="/assets/plugins/colorpicker/asColorPicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />


        <!-- Theme Css -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/slidebars.min.css" rel="stylesheet">
        <link href="/assets/css/icons.css" rel="stylesheet">
        <link href="/assets/css/menu.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		
		<script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>


<!-- estilos -->
<style>

.titulos {
  font-size: 28px;
}

.mensagens {
  font-size: 24px;
}

.texto-alerta {
	width: 280px;
}

.nomes {
  font-size: 24px;
}

.box {
    font-size: 52px;
    padding: 4px;
	padding-top: 28px;
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.cor_totais {
	color: #0099cc;
}

.cor_relogio {
	color: #ffffff;
}

table {
  border-collapse: collapse;
  width: 85%;
  text-align: center;
  font-size: 18px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
	font-family: "RegencyScriptFLF Regular";
	src: url("/fonts/Burbank-Big-Condensed Black.ttf");
}

.font { font-family: "RegencyScriptFLF Regular", Cursive; }

.imagens_mensagens {
    width: 110px;
}

.appearance-select{
   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
   background: url(/imagens/edicao/ico-seta-appearance.gif) no-repeat #eeeeee; /* Imagem de fundo (Seta) */
   background-position: 30px center;  /*Posição da imagem do background*/
   width: 60px; /* Tamanho do select, maior que o tamanho da div "div-select" */
   height:22px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border:1px solid #4F4F4F;
   margin: 1px;
   font-size: 14px;  
}

.modal-content-alerta {
	padding-top: 140px;
	background-image: url(/imagens/game/fundo-mensagem-alerta-time.png);
	background-repeat: no-repeat;
	height: 440px;
	width: 420px;
	align-content: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.button {
  background-color: #008CBA; /* blue */
  border: none;
  color: white;
  padding: 15px 18px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

</style>
<!-- fim do estilo -->

<script>
var dia_corrente = 0;
var array_nomes = [];
var array_ids_jogadores = [];
var array_times_jogo = [];
var multa_corrente = 0;
var investimento_corrente = 0;

<% for(var i=0; i < jogadores.length; i++) { %>
	array_nomes.push("<%=jogadores[i].jogador_nome %>");
	array_ids_jogadores.push("<%=jogadores[i].jogador_id %>");
<%}%>

var mapDiario = new Map();

<% for(var i=0; i < diario.length; i++) { %>
	mapDiario.set(<%=diario[i].dia%>, {"info1" : "<%=diario[i].info1 %>", "info2": "<%=diario[i].info2 %>", "info3": "<%=diario[i].info3 %>"});
<%}%>

<% if(typeof lista_times !== 'undefined') { %>
	<% for(var i=0; i < lista_times.length; i++) { %>
		array_times_jogo.push(<%=lista_times[i].time %>);
	<%}%>
<%}%>

<% var quantidade_times = 4; %>

//console.log("array_times_jogo" + array_times_jogo);


</script>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<script src="/js/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<div align="center">


<div id="modal_aviso_times" class="modal" style="padding-top: 100px;" align="center">
	<div class="modal-content-alerta" id="div-aviso-times">
	</div>
</div>

<div id="modal_question" class="modal" align="center">
	<div class="modal-content-alerta" id="div-questions">
	</div>
</div>


<!-- Inicio -->


<table id="Tabela_01" style="background-image: url(/imagens/edicao/fundo_geral.jpg);" width="1291" height="656" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="29" width="1290" height="1"></td>
		<td width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="28">
			<a href="#" onclick="solicitarAval()">
			<img src="/imagens/jogo/div_logo.png" width="1289" height="92" alt=""></a></td>
		<td rowspan="21" width="1" height="654"></td>
		<td width="1" height="92"></td>
	</tr>
	<tr>
		<td colspan="3" width="314" height="1"></td>
		<td id="div_jogadores" align="center" colspan="20" rowspan="5" width="735" height="154">
			<table>
				<tr>
				<!-- avatar jogadores -->
				<% for(var i=0; i < jogadores.length; i++) { %>
					<td><img width="75" height="75" class="imagens" src="<%=jogadores[i].caminho_avatar %>" alt="Paris"></td>
				<% } %>
				</tr>
				<tr class="nomes font" align="center">
				<!-- nome jogadores -->	
				<% for(var i=0; i < jogadores.length; i++) { %>
					<td><%=jogadores[i].jogador_nome %></td>
				<% } %>
				</tr>
				<tr class="nomes font" align="center">
				<!-- pontos jogadores -->	
				<% for(var i=0; i < jogadores.length; i++) { %>
					<td id="div-<%=jogadores[i].jogador_id %>">0</td>
				<% } %>
				</tr>
			</table>
		</td>
		<td id="info1" class="titulos font" align="center" colspan="5" rowspan="2" width="240" height="101">Inicio do jogo</td>
		<td width="1" height="1"></td>
	</tr>
	<tr>
		<td id="resposta_valores" class="titulos font" style="padding-left:30px;" colspan="3" rowspan="3" width="314" height="120"></td>
		<td width="1" height="100"></td>
	</tr>
	<tr>
		<td colspan="5" width="240" height="9"></td>
		<td width="1" height="9"></td>
	</tr>
	<tr>
		<td id="div_relogio" class="font titulos cor_relogio" onclick="proximoEvento()" align="center"
			 background="/imagens/jogo/div_relogio.png" colspan="5" rowspan="5" width="240" height="74"></td>
		<td width="1" height="11"></td>
	</tr>
	<tr>
		<td rowspan="14" width="66" height="276"></td>
		<td rowspan="3">
			<img src="/imagens/jogo/label_times.png" width="197" height="55" alt=""></td>
		<td rowspan="14" width="51" height="276"></td>
		<td width="1" height="33"></td>
	</tr>
	<tr>
		<td rowspan="13" width="47" height="243"></td>
		<td align="center" id="div_dia" class="box cor_totais font" 
			background="/imagens/jogo/div_dia.png" colspan="4" rowspan="8" width="183" height="134"></td>
		<td colspan="15" width="505" height="1"></td>
		<td width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="8" width="36" height="135"></td>
		<td align="center" id="div_total_dia" class="box cor_totais font" 
			background="/imagens/jogo/div_total_dia.png" colspan="5" rowspan="7" width="202" height="133"></td>
		<td rowspan="8" width="25" height="135"></td>
		<td align="center" id="div_total_geral" class="box cor_totais font" 
			background="/imagens/jogo/div_total_geral.png" colspan="6" rowspan="7" width="242" height="133"></td>
		<td width="1" height="21"></td>
	</tr>
	<tr>
		<td rowspan="3" width="197" height="34">
			<select id="time_selecionado" class="selectpicker" data-style="form-control btn-info">
				<% for(var z=1; z <= quantidade_times; z++) { %>
					<option value="<%=z%>"><%=z%></option>
				<% } %>
			</select>
		</td>
		<td width="1" height="8"></td>
	</tr>
	<tr>
		<td colspan="5" width="240" height="9"></td>
		<td width="1" height="9"></td>
	</tr>
	<tr>
		<td rowspan="6" width="45" height="129"></td>
		<td rowspan="3">
			<a href="#" onclick="limparTempo()">
				<img src="/imagens/jogo/botao_pause.png" title="Zerar o tempo" width="68" height="80" border="0" alt=""></a></td>
		<td rowspan="6" width="15" height="129"></td>
		<td rowspan="3">
			<a href="#" onclick="iniciarTempo()">
				<img src="/imagens/jogo/botao_start.png" title="Iniciar tempo" width="69" height="80" border="0" alt=""></a></td>
		<td rowspan="6" width="43" height="129"></td>
		<td width="1" height="17"></td>
	</tr>
	<tr>
		<td width="197" height="60">
			<% if (data.length > 0) { %>
			<a href="#" onClick="post('/home/pre_game/game', {jogo_id: '<%=data[0].jogo_id %>', codigo_jogo: '<%=data[0].codigo_jogo %>', 
				time_selecionado: document.getElementById('time_selecionado').value, nova_janela: 'true'})">
				<img src="/imagens/jogo/btn_acesso_jogo.png"  border="0" alt=""></a>
			<% } %>
		</td>
		<td width="1" height="60"></td>
	</tr>
	<tr>
		<td rowspan="5">	
			<a href="#" 
				onClick="openQuestion('Tem certeza que deseja aplicar a Multa de $ '+ multa_corrente +' para o Time ' + 
				document.getElementById('time_selecionado').value + ' no dia ' + dia_corrente + '?', 'aplicar-penalidade')">
				<img src="/imagens/jogo/btn_penalizar.png" width="197" height="65" border="0" alt=""></a>
		</td>
		<td width="1" height="3"></td>
	</tr>
	<tr>
		<td rowspan="3" width="68" height="49"></td>
		<td rowspan="3" width="69" height="49"></td>
		<td width="1" height="15"></td>
	</tr>
	<tr>
		<td colspan="4" width="183" height="6"></td>
		<td colspan="5" width="202" height="2"></td>
		<td colspan="6" width="242" height="2"></td>
		<td width="1" height="2"></td>
	</tr>
	<tr>
		<td rowspan="4"  width="6" height="107"></td>
		<td rowspan="4">
			<a href="#" onclick="diaAnterior()"
				onmouseover="window.status='Voltar';  return true;"
				onmouseout="window.status='';  return true;">
				<img src="/imagens/jogo/botao_dia_anterior.png" title="Dia anterior" width="80" height="107" border="0" alt=""></a>
		</td>
		<td rowspan="4" width="17" height="107"></td>
		<td colspan="2" rowspan="4">
			<a href="#" onclick="reiniciaJogo()" 
				onmouseover="window.status='Reiniciar';  return true;"
				onmouseout="window.status='';  return true;">
				<img src="/imagens/jogo/botao_reiniciar.png" title="Ir para o início" width="82" height="107" border="0" alt="Reinicia o jogo"></a></td>
		<td rowspan="4" width="15" height="107"></td>
		<td colspan="2" rowspan="4">
			<a href="#" onclick="proximoDia()"
				onmouseover="window.status='Próximo dia';  return true;"
				onmouseout="window.status='';  return true;">
				<img src="/imagens/jogo/botao_proximo_dia.png" title="Próximo dia" width="75" height="107" border="0" alt=""></td>
		<td rowspan="4" width="5" height="107"></td>
		<td rowspan="4">
			<a href="#" onclick="randomInvestimento()" 
				onmouseover="window.status='Investimento';  return true;"
				onmouseout="window.status='';  return true;">
				<img src="/imagens/jogo/botao_investimento.png" title="Investimento" width="105" height="107" border="0" alt=""></a></td>
		<td rowspan="4" width="5" height="107"></td>
		<td colspan="3" rowspan="4">
			<a href="#" onclick="randomProducao()"  
				onmouseover="window.status='Produção';  return true;"
				onmouseout="window.status='';  return true;">
				<img src="/imagens/jogo/botao_producao.png" title="Publicação" width="80" height="107" border="0" alt=""></td>
		<td rowspan="4" width="12" height="107"></td>
		<td rowspan="4">
			<a href="#" onclick="randomPosProducao()" 
				onmouseover="window.status='Pós Produção';  return true;"
				onmouseout="window.status='';  return true;">
				<img src="/imagens/jogo/botao_pos_producao.png" title="Monitoramento" width="80" height="107" border="0" alt=""></a></td>
		<td rowspan="4" width="14" height="107"></td>
		<td rowspan="4">
			<a href="#" onclick="randomPenalidade()" 
				onmouseover="window.status='Penalidade';  return true;"
				onmouseout="window.status='';  return true;">
				<img src="/imagens/jogo/botao_penalidade.png" title="Penalidade" width="81" height="107" alt=""></a></td>
		<td rowspan="4" width="31" height="107"></td>
		<td width="1" height="32"></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="2">
			<a href="#" onclick="sair()">
				<img src="/imagens/jogo/btn-sair.png" width="240" height="62" border="0" alt=""></a></td>
		<td width="1" height="13"></td>
	</tr>
	<tr>
		<td rowspan="2">
			<a href="#" 
				onClick="openQuestion('Tem certeza que deseja aplicar o Investimento de $ '+ investimento_corrente +' para o Time ' + 
				document.getElementById('time_selecionado').value + ' no dia ' + dia_corrente + '?', 'aplicar-investimento')">
				<img src="/imagens/jogo/btn_aplicar_investimento.png" width="197" height="62" alt=""></a>
		</td>
		<td width="1" height="49"></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="2">
			<img class="imagens_mensagens" id="div_imagens_mensagens" src="/imagens/jogo/div_rodape_mensagens.png" width="240" height="108">
		<td width="1" height="13"></td>
	</tr>
	<tr>
		<td id="div_mensagens" colspan="23" width="1049" height="95">
			<table class="titulos font">
				<tr>
					<td id="info2" align="left" style="padding-left: 10px;">
				</tr>
				<tr>
					<td id="info3" align="left" style="padding-left: 10px;">
				</tr>
				<tr>
					<td id="info4" align="left" style="padding-left: 10px;">
				</tr>
			</table>
		</td>
		<td width="1" height="95"></td>
	</tr>
	<tr>
		<td colspan="28" width="1289" height="1"></td>
		<td width="1" height="1"></td>
	</tr>
	<tr>
		<td colspan="28" width="1289" height="1"></td>
		<td width="1" height="1"></td>
	</tr>
	<tr>
		<td width="66" height="1" alt=""></td>
		<td width="197" height="1" alt=""></td>
		<td width="51" height="1" alt=""></td>
		<td width="47" height="1" alt=""></td>
		<td width="6" height="1" alt=""></td>
		<td width="80" height="1" alt=""></td>
		<td width="17" height="1" alt=""></td>
		<td width="80" height="1" alt=""></td>
		<td width="2" height="1" alt=""></td>
		<td width="15" height="1" alt=""></td>
		<td width="19" height="1" alt=""></td>
		<td width="56" height="1" alt=""></td>
		<td width="5" height="1" alt=""></td>
		<td width="105" height="1" alt=""></td>
		<td width="5" height="1" alt=""></td>
		<td width="31" height="1" alt=""></td>
		<td width="25" height="1" alt=""></td>
		<td width="24" height="1" alt=""></td>
		<td width="12" height="1" alt=""></td>
		<td width="80" height="1" alt=""></td>
		<td width="14" height="1" alt=""></td>
		<td width="81" height="1" alt=""></td>
		<td width="31" height="1" alt=""></td>
		<td width="45" height="1" alt=""></td>
		<td width="68" height="1" alt=""></td>
		<td width="15" height="1" alt=""></td>
		<td width="69" height="1" alt=""></td>
		<td width="43" height="1" alt=""></td>
		<td width="1" height="1" alt=""></td>
		<td></td>
	</tr>
</table>


<!-- Fim -->


</div>
<div id="div-inicio-tempo"></div>
<div id="div-fim-tempo"></div>
</body>
</html>

<script>

var App = {};
//o original vem com o caminho abaixo somente como 'localhost', mas dah erro de conection refused
App.socket = io.connect('<%=url_sistema%>');

iniciar();

function enviar(info1, info2, info3){

	$.ajax({
		url: "/game_control/enviar",
		data: { dia: dia_corrente, pontos_dia: total_pontos, pontos_geral: total_pontos_geral, 
			info1: info1, info2: info2, info3: info3, lista_times: array_times_jogo, 
			codigo_jogo: '<%=data[0].codigo_jogo%>', id_jogo: '<%=data[0].jogo_id%>' },
		type: "POST",
		beforeSend: function() {
			//$("#" + formName).html(preloaderAzul);
		},
		success: function(response) {
			console.log('Resposta ajax:' + response);
			// $("#" + formName).html(response);
		},
	});
}

function solicitarAval(info1, info2, info3){

$.ajax({
	url: "/game_control/solicitarAval",
	data: { lista_times: array_times_jogo, 
		codigo_jogo: '<%=data[0].codigo_jogo%>', 
		id_jogo: '<%=data[0].jogo_id%>' },
	type: "POST",
	beforeSend: function() {
		//$("#" + formName).html(preloaderAzul);
	},
	success: function(response) {
		console.log('Resposta ajax:' + response);
		// $("#" + formName).html(response);
	},
});
}

function atualizarEvento(info2){

	$.ajax({
		url: "/game_control/atualizar_evento",
		data: { info2: info2, lista_times: array_times_jogo, codigo_jogo: '<%=data[0].codigo_jogo%>'},
		type: "POST",
		beforeSend: function() {
			//$("#" + formName).html(preloaderAzul);
		},
		success: function(response) {
			console.log('Resposta ajax:' + response);
			// $("#" + formName).html(response);
		},
	});
}

function saveData(){

var info1 = document.getElementById("info1").innerHTML; 

$.ajax({
	url: "/game_control/save_data_game",
	data: { dia: dia_corrente, info1: info1, id_jogo: '<%=data[0].jogo_id%>' },
	type: "POST",
	beforeSend: function() {
		//$("#" + formName).html(preloaderAzul);
	},
	success: function(response) {
		if(response.includes("Erro")){
			// atualizo a div para sinalizar que tem um problema na gravação
			var millisecondsToWait = 8000;

			var element = document.getElementById('resposta_valores');
			element.innerHTML = 'Ocorreu um erro na gravação de dados do dia ' + dia_corrente + '. A tela será atualizada em '+(millisecondsToWait/1000)+' segundos.';
	
			setTimeout(function() {
				document.location.reload(true);
			}, millisecondsToWait);
		}

		console.log('Resposta ajax:' + response);
		// $("#" + formName).html(response);
	},
	error: function(xhr, ajaxOptions, thrownError) {
		alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
	}
});
}

function iniciar(){

	console.log("Vai chamar o carregamento dos dados");

	$.ajax({
		url: "/game_control/carregar_dados_control_game",
		data: { id_jogo: '<%=data[0].jogo_id%>'},
		type: "POST",
		beforeSend: function() {
			//$("#" + formName).html(preloaderAzul);
		},
		success: function(response) {
			console.log('Resposta ajax: sucesso!');
			// $("#" + formName).html(response);

			element = document.getElementById('div_dia');
			element.innerHTML = response.dados.maior_dia;
			
			element = document.getElementById('div_total_dia');
			element.innerHTML = response.dados.pontos_dia;

			// atualizo o dia corrente
			dia_corrente = response.dados.maior_dia;
			
			element = document.getElementById('div_total_geral');
			element.innerHTML = response.dados.total_pontos;

			total_pontos_geral = response.dados.total_pontos;

			element = document.getElementById('info1');
			element.innerHTML = response.dados.ultimo_evento;

			element = document.getElementById('info2');
			element.innerHTML = response.dados.info2;

			info2_corrente = response.dados.info2;

			for(var i=0; i < response.pontos.length; i++) {
				mapTotaisPorDias.set(response.pontos[i].dia, response.pontos[i].total_dia);
			}
		},
	});
}

function enviarTempo(tempo_adicional){

	$.ajax({
		url: "/game_control/enviar_tempo",
		data: { tempo_adicional: tempo_adicional, lista_times: array_times_jogo, codigo_jogo: '<%=data[0].codigo_jogo%>' },
		type: "POST",
		beforeSend: function() {
			//$("#" + formName).html(preloaderAzul);
		},
		success: function(response) {
			console.log('Resposta ajax:' + response);
			// $("#" + formName).html(response);
		},
	});
}

</script>


<script language="Javascript">

function randomInvestimento() {
	
    limparImagem();

	var numero_sorteado = 	Math.floor((Math.random() * 3) + 1);
	var valor_investimento = 'R$ 0,00';
	var valor = 0;
	
	if( numero_sorteado == 1) {
		valor_investimento = 'Bill Gurley + R$ 500,00';
		valor = 500;
	} else if( numero_sorteado == 2) {
		valor_investimento = 'Chris Sacca + R$ 300,00';
		valor = 300;
	}
	else {
		valor_investimento = 'Jeff Jordan + R$ 100,00';
		valor = 100;
	}
	
	var element = document.getElementById("info4");
	element.innerHTML = 'Investimento: ' + valor_investimento;

	investimento_corrente = valor;

    document.getElementById("div_imagens_mensagens").src = "/imagens/money.png";
}

function randomPenalidade()	{
	
    limparImagem();

	var numero_sorteado = 	Math.floor((Math.random() * 3) + 1);
	var pena = '';
	var valor = 0;
	
	if( numero_sorteado == 1) {
		pena = 'Pagar multa de R$ 50,00.';
		valor = 50;
	} else if( numero_sorteado == 2) {
		pena = 'Pagar multa de R$ 100,00.';
		valor = 100;
	}
	else {
		pena = 'Pagar multa de R$ 250,00.';
		valor = 250;
	}
	
	var element = document.getElementById("info4");
	element.innerHTML = 'Penalidade: ' + pena;

	multa_corrente = valor;

    document.getElementById("div_imagens_mensagens").src = "/imagens/multa.png";
}
	
function randomProducao() {
	
    limparImagem();

	var nome = array_nomes[Math.floor(Math.random()*array_nomes.length)];
	var element = document.getElementById("info4");
	element.innerHTML = nome + ' não pontuará nesta rodada, pois vai realizar a entrega dos trabalhos para os Clientes do Parque.';
    
}
	
function randomPosProducao() {	
	limparImagem();
	
	var nome = array_nomes[Math.floor(Math.random()*array_nomes.length)];

    // agora vamos escolher qual o motivo do problema em Producao
    numero_sorteado = 	Math.floor(Math.random() * 5);

    var mensagem = "";

    //console.log('motivo sorteado: ' + numero_sorteado);

    if(numero_sorteado == 1){
        mensagem = "Um dinossauro arrebentou o portão principal e " + nome + " precisa resolver urgente, antes que haja fuga.";
        document.getElementById("div_imagens_mensagens").src = "/imagens/cerca-dino.png";
    }
    else if(numero_sorteado == 2){
        mensagem = "Um avião novo de passeio fez um pouso de emergencia no território do T-Rex e " + nome + " precisa resgatá-los muito rápido.";
        document.getElementById("div_imagens_mensagens").src = "/imagens/tiranosaurs.png";
    }
    else if(numero_sorteado == 3){
        mensagem = "Um dinossauro invadiu o território do Velociraptor e está ferido gravemente e " + nome + " precisa socorrê-lo antes que seja tarde.";
        document.getElementById("div_imagens_mensagens").src = "/imagens/raptor.png";
    }
    else {
        mensagem = "Tudo funcionando normalmente!";
        limparImagem();
    }
	
    var element = document.getElementById("info4");
	element.innerHTML = mensagem;
}
	

var interval = null;
var tempo_adicional = 0;
var total_pontos_geral = 0;

// var audio_regressivo = new Audio('/audio/30-segundos.mp3');

// inicializar map
var mapDias = new Map();
var mapTotaisPorDias = new Map();

function iniciarTempo(){

	var evento_corrente = document.getElementById("info1").innerHTML;

	var dt1 = new Date();

	var tempo_restante = 0;

	// converto minutos em segundos 
	if(evento_corrente == 'Reunião diária') {
		tempo_adicional = <%=data[0].minutos_daily %> * 60;
	}
	else if(evento_corrente == 'Execução') {
		tempo_adicional = <%=data[0].minutos_execucao %> * 60;
	}
	else if(evento_corrente == 'Sprint Planning') {
		tempo_adicional = <%=data[0].minutos_planning %> * 60;
	}
	else if(evento_corrente == 'Retrospectiva e métricas') {
		tempo_adicional = <%=data[0].minutos_retrospective %> * 60;
	}
	else if(evento_corrente == 'Sprint Review') {
		tempo_adicional = <%=data[0].minutos_review %> * 60;
	}
	else {
		tempo_adicional = tempo_adicional + 60;
	}

	tempo_restante = tempo_adicional/1000;

	dt1.setSeconds( dt1.getSeconds() + tempo_adicional );
	var tempo = "";
	var minuto_formatado = "";
	var segundo_formatado = "";
	var info2_corrente = "";// vou usar para proximos eventos

	// restaurando a cor do estilo da font
	document.getElementById('div_relogio').style.color = "white";


	if(interval != null){
		clearInterval(interval);
	}

	// var tocou_inicio = false;

	interval = setInterval( function() {

        // if(! tocou_inicio){
        //     // dispara o som de inicio do tempo
        //     var mp3Source1 = '<source src="/audio/inicio-tempo.mp3" type="audio/mpeg">';
		//     document.getElementById("div-inicio-tempo").innerHTML='<audio autoplay="autoplay">' + mp3Source1 + '</audio>';
        //     tocou_inicio = true;
        // }
	
		var current_date1 = new Date().getTime();
        var segundos_f1 = (dt1 - current_date1) / 1000;
		var minutos1 = parseInt(segundos_f1 / 60);
		
		var segundos_restantes = parseInt(segundos_f1);
        
        segundos_f1 = parseInt(segundos_f1 % 60);

        if(minutos1> 9){
            minuto_formatado = minutos1;
        }
        else {
            minuto_formatado = '0' + minutos1;
        }

        // // se segundos_f1 for igual a 30, disparo um alarme
        // if (minutos1 == 0 && segundos_f1 == 30){
        //     // disparar alarme de 30 segundos restantes
        //     //audio_regressivo.play();
        // }

        if(segundos_f1 > 9){
            segundo_formatado = segundos_f1;
        }
        else {
            segundo_formatado = '0' + segundos_f1;
		}
		


		if ( (segundos_restantes % 30 === 0 && segundos_restantes > 29) || ( segundos_restantes == 10 )){
			console.log('tempo restante: ' + segundos_restantes);

			// a cada 30 segundos eu mando atualizacao do cronometro com o tempo restante
			try {
				enviarTempo(segundos_restantes);
			}
			catch (e) {
				console.log('Erro tempo: ' + e);
			}
		}

        document.getElementById('div_relogio').innerHTML = minuto_formatado + ':' + segundo_formatado;

        if(minutos1 == 0 && segundos_f1 == 0){
            //console.log('zerou');
            clearInterval(interval);
            document.getElementById('div_relogio').style.color = "red";

            // dispara o som de fim do tempo
            // var mp3Source3 = '<source src="/audio/fim-tempo.mp3" type="audio/mpeg">';
		    // document.getElementById("div-fim-tempo").innerHTML='<audio autoplay="autoplay">' + mp3Source3 + '</audio>';
        }
    
	
	}, tempo_adicional );

	enviarTempo(tempo_adicional);
}

function stopSound() {
    sounds[''].pause();
    sounds[''].pause();
    sounds[''].pause();
}

pontuacaoPre();

function adicionarCincoMin(){
var dt1 = new Date();
tempo_adicional = tempo_adicional + 300;



dt1.setSeconds( dt1.getSeconds() + tempo_adicional );

	if(interval != null){
		clearInterval(interval);
	}
	interval = setInterval( function() {
	
	var current_date1 = new Date().getTime();
    var segundos_f1 = (dt1 - current_date1) / 1000;
	var minutos1 = parseInt(segundos_f1 / 60);
	
	segundos_f1 = parseInt(segundos_f1 % 60);

	document.getElementById('minuto').innerHTML = minutos1;
	document.getElementById('segundo').innerHTML = segundos_f1;
	
	}, tempo_adicional );
}

function limparTempo(){
	tempo_adicional = 0;
	clearInterval(interval);

	document.getElementById('div_relogio').innerHTML = "00:00";

	// vai limpar o tempo nos times do jogo corrente
	enviarTempo(0);

    // paro o audio da contagem dos ultimos 30 segundos, caso tenha iniciado
    //audio_regressivo.pause();
}

function pontuacaoPre(){

	<% for(var i=0; i < dias.length; i++) { %>
		mapDias.set( '<%=dias[i].dia %>-<%=dias[i].jogador %>', <%=dias[i].pontos%> );
	<%}%>

    /*for (var [key, value] of mapDias.entries()) {
        console.log('Dia: ' + key );
    }*/
    //fim da lista de pontos por dia dos jogadores
}

var total_pontos = 0;
var total_pontos_geral = 0;

function pontuacao(){
    //console.log('MapDias: ' + mapDias.size )
    // nova maneira de pontuar
	var pontos_sorteados = 0;
	total_pontos = 0;
	total_pontos_geral = 0;
	
    // como ja tenho toda a pontuacao dos dias, somente identifico o dia corrente para pontuar por nome
    array_ids_jogadores.forEach(function (item, indice, array_ids_jogadores) {
        for (var [key, value] of mapDias.entries()) {
            //console.log('for mapDias');
            //verifico pelo nome corrente
            // console.log('Nome: ' + item);
            //console.log(key + ' == ' + (dia_corrente) + '-' + item);

            if(key == (dia_corrente) + '-' + item){
                pontos_sorteados = value;
                //console.log('Pontuacao do dia: ' + pontos_sorteados);

                element = document.getElementById('div-' + item);
                element.innerHTML = pontos_sorteados;
				total_pontos = total_pontos + pontos_sorteados;
				console.log('Total pontos: ' + total_pontos);

                break;
            }
        }
    });

    // atualizo o mapTotaisPorDias
    // chave = dia_corrente
    // valor = pontos_sorteados no dia
    mapTotaisPorDias.set(dia_corrente, total_pontos);

    // atualizo o valor total de todos os dias ja jogados. Mesmo se uma pessoa seguir de onde outro parou, sera calculado igualmente ate
    // que alguem embaralhe a tabela dias_jogadores
    for (var [key, value] of mapTotaisPorDias.entries()) {
       total_pontos_geral = total_pontos_geral + value;
    }

    // atualiza o total de pontos do dia
    element = document.getElementById('div_total_dia');
    element.innerHTML = total_pontos;

    // atualiza o total de pontos geral (soma de todos os dias) na tela
    element = document.getElementById('div_total_geral');
    element.innerHTML = total_pontos_geral;

    // fim nova maneira pontuar
}

// enviar("", "", "");

function proximoDia(){

	limparTempo();

	// limpo a imagem das mensagens
	limparImagem();

	// limpo mensgem de investimento e multas
	var element = document.getElementById("info4");
	element.innerHTML = "";

	element = document.getElementById("resposta_valores");
	element.innerHTML = "";

	// limpo a multa
	multa_corrente = 0;
	investimento_corrente = 0;

	//atualizo o dia do java script
	dia_corrente = dia_corrente + 1;

	element = document.getElementById("div_dia");
	element.innerHTML = dia_corrente;

	// aplicar pontuacao para as pessoas
	pontuacao();

	// agora atualizo as mensagens
	element = document.getElementById("info1");
	element.innerHTML = mapDiario.get(dia_corrente).info1;

	element = document.getElementById("info2");
	element.innerHTML = mapDiario.get(dia_corrente).info2;

	info2_corrente = mapDiario.get(dia_corrente).info2;

	element = document.getElementById("info3");
	element.innerHTML = mapDiario.get(dia_corrente).info3;

	enviar(mapDiario.get(dia_corrente).info1, mapDiario.get(dia_corrente).info2, mapDiario.get(dia_corrente).info3);

	var millisecondsToWait = 2000;
	
	setTimeout(function() {
		saveData();
	}, millisecondsToWait);
	
	setTimeout(function() {
		saveDayHistory();
	}, millisecondsToWait);

	setTimeout(function() {
		saveReg();
	}, millisecondsToWait);
	
}

function diaAnterior(){


    if((dia_corrente - 1) > 0){
        limparTempo();

        // limpo a imagem das mensagens
        limparImagem();

		// limpo a multa
		multa_corrente = 0;
		investimento_corrente = 0;

        //atualizo o dia do java script
        dia_corrente = dia_corrente - 1;

		// limpo mensgem de investimento e multas
		var element = document.getElementById("info4");
		element.innerHTML = "";

		element = document.getElementById("resposta_valores");
		element.innerHTML = "";

        element = document.getElementById("div_dia");
        element.innerHTML = dia_corrente;

        // aplicar pontuacao para as pessoas com informacoes ja existentes
		pontuacao();

		console.log('Antes:' + mapTotaisPorDias.size)

		// removo o dia que eu estava antes de voltar 
		mapTotaisPorDias.delete(dia_corrente + 1);

		console.log('Depois:' + mapTotaisPorDias.size)
		total_pontos_geral = 0;

		// em seguida atualizo o total pontos geral com somente os valores dos dias que continuam no map
		for (var [key, value] of mapTotaisPorDias.entries()) {
			total_pontos_geral = total_pontos_geral + value;
			console.log('total_pontos_geral:' + total_pontos_geral)
			console.log('value:' + total_pontos_geral)
		}

		// atualiza o total de pontos geral (soma de todos os dias) na tela
		element = document.getElementById('div_total_geral');
    	element.innerHTML = total_pontos_geral;
		
		enviar(mapDiario.get(dia_corrente).info1, mapDiario.get(dia_corrente).info2, mapDiario.get(dia_corrente).info3);

		saveData();
	}
};


function limparImagem(){
    // limpo a imagem das mensagens
    document.getElementById("div_imagens_mensagens").src = "/imagens/jogo/div_rodape_mensagens.png";
}

function proximoEvento(){

    if (info2_corrente != ""){
        limparTempo();
        element = document.getElementById("info1");
        element.innerHTML = info2_corrente;
	}
	
	saveData();

	atualizarEvento(mapDiario.get( dia_corrente).info2 );
}

function saveDayHistory(){

	if(dia_corrente > 0){
		$.ajax({
			url: "/game_control/save_day_history",
			data: { 
					id_jogo: '<%=data[0].jogo_id%>', 
					dia: (dia_corrente - 1)
				},
			type: "POST",
			beforeSend: function() {
				//$("#" + formName).html(preloaderAzul);
			},
			success: function(response) {
				console.log('Resposta ajax:' + response);
				// $("#" + formName).html(response);
			},
		});
	}
	
}

function saveReg(){
	
	$.ajax({
		url: "/game/save_reg",
		data: { codigo_jogo: '<%=data[0].codigo_jogo%>', 
				id_jogo: '<%=data[0].jogo_id%>', 
				lista_times: array_times_jogo },
		type: "POST",
		beforeSend: function() {
			//$("#" + formName).html(preloaderAzul);
		},
		success: function(response) {
			console.log('Resposta ajax:' + response);
			// $("#" + formName).html(response);

			//console.log('Chamando o enviar_card no socket');
		},
	});
}

function reiniciaJogo(){
	//document.location.reload(true);

	// limpo todos os valores de todos os dias
	mapTotaisPorDias = new Map();

	// limpo os totais
	total_pontos = 0;
	total_pontos_geral = 0;

	dia_corrente = 0;

	// atualiza o total de pontos do dia
    element = document.getElementById('div_dia');
    element.innerHTML = dia_corrente;

	// atualiza o total de pontos do dia
    element = document.getElementById('div_total_dia');
    element.innerHTML = total_pontos;

    // atualiza o total de pontos geral (soma de todos os dias) na tela
    element = document.getElementById('div_total_geral');
	element.innerHTML = total_pontos_geral;

	// ao reiniciar o jogo, forco o dia corrente 0
	dia_corrente = 0;
	
	saveDayHistory();
}

var modal_aviso_times = document.getElementById("modal_aviso_times");

function fecharModalAvisoTimes(){
	modal_aviso_times.style.display = "none";
}

function post(path, params, method='post') {

// somente utilizo este metodo num jogo editado

	// verifico se tem alguem cadastrado para este time selecionado
	time = document.getElementById('time_selecionado').value;
	var existe_time = false;

	for(i = 0; i < array_times_jogo.length; i++){
		console.log('Time: ' + array_times_jogo[i]);
		if(time == array_times_jogo[i]){
			existe_time = true;
		}
	}

	if(!existe_time){

		modal_aviso_times.style.display = "block";

		$( "div" ).remove( "#div-penal" );

		const div = document.createElement('div');
		div.innerHTML = "<div id='div-penal'><div class='container box font'><span class='texto-alerta mensagens'>Por favor inclua jogadores para o Time "
			 + time + " na tela de edição do jogo e em seguida tente novamente.</span></div><br>" 

		+"<div class='container'> "
		+"	<button class='button' type='button'  onClick='fecharModalAvisoTimes()''>Fechar</button> "
		+"</div></div>";

		document.getElementById('div-aviso-times').appendChild(div);

		return;
	}

	const form = document.createElement('form');
	form.method = method;
	form.action = path;

	console.log(params['nova_janela']);

	if(params.hasOwnProperty('nova_janela') && params['nova_janela'] == 'true'){
		form.target = '_blank';
	}

	for (const key in params) {
		if (params.hasOwnProperty(key) && params[key] !== 'nova_janela') {
			const hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = key;
			hiddenField.value = params[key];

			form.appendChild(hiddenField);
		}
	}

	document.body.appendChild(form);
	form.submit();
}

// question
var modal_question = document.getElementById("modal_question");

function openQuestion(msg, quemChamou){

	modal_question.style.display = "block";

	$( "div" ).remove( "#div-question" );

	const div = document.createElement('div');
	div.innerHTML = "<div id='div-question'><div class='container box font'><span class='texto-alerta mensagens'>"+msg+"</span></div><br>" 

	+"<div class='container'> "
	+"	<button class='button' type='button' onClick='confirmQuestion(\""+quemChamou+"\")'>Sim</button>"
	+"	<button class='button' type='button' onClick='recuseQuestion(\""+quemChamou+"\")'>Não</button> "
	+"</div></div>";

	document.getElementById('div-questions').appendChild(div);
}

function confirmQuestion(quemChamou){
	modal_question.style.display = "none";

	var room = '<%=data[0].codigo_jogo%>-' + document.getElementById('time_selecionado').value;

	if(quemChamou == 'aplicar-investimento'){
		$.ajax({
			url: "/game_control/enviar_investimento",
			data: { dia: dia_corrente, valor: investimento_corrente, room: room, id_jogo: '<%=data[0].jogo_id%>' },
			type: "POST",
			beforeSend: function() {
				//$("#" + formName).html(preloaderAzul);
			},
			success: function(response) {
				console.log('Resposta ajax:' + response);

				var element = document.getElementById('resposta_valores');
				element.innerHTML = 'Investimento aplicado para o Time ' + document.getElementById('time_selecionado').value;
			},
		});
	}
	else if(quemChamou == 'aplicar-penalidade'){
		$.ajax({
			url: "/game_control/enviar_penalidade",
			data: { dia: dia_corrente, valor: multa_corrente, room: room, id_jogo: '<%=data[0].jogo_id%>' },
			type: "POST",
			beforeSend: function() {
				//$("#" + formName).html(preloaderAzul);
			},
			success: function(response) {
				console.log('Resposta ajax:' + response);

				var element = document.getElementById('resposta_valores');
				element.innerHTML = 'Penalidade aplicada para o Time ' + document.getElementById('time_selecionado').value;
			},
		});
	}
}

function recuseQuestion(quemChamou){
	modal_question.style.display = "none";
	return;
}

// fim

function sair(){
	window.location.href = "/home/dashboard";
}


// cores do novo estilo
// lateral #DEB887
// meio #D2B48C
// botoes #A0522D

</script>